

<div class="container">
  <div class="information-section">
    @for( mentor of mentorinformation;track mentor.id){
  <div class="info-container">
   <div class="image-container">
    <img src="http://localhost:8080/api/auth/{{mentor.profileimage}}">
  </div>
  
   <h3>{{mentor.firstname}}   {{mentor.lastname}}</h3>
   <p class="jobtitle">{{mentor.jobtitle}} at <b>{{mentor.company}}</b></p>
   <p class="location"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>{{mentor.location}}</p>
    <h3 class="title">About</h3>
    <p>{{mentor.bio}}</p>
    <h3 class="title">Skills</h3>
    <div class="field">{{mentor.skills}}</div>
    </div>
   
 
   
}
 
</div>
<div class="session-section">
      <div class="session-card">
         <div style="align-self: center;"><span >sessions</span></div>      
           <div class="line"></div>   
         <div><input type="radio"><label style="margin-left: 0.5rem;">Cv review</label></div>    
           <div class="line"></div>     
         <div><input type="radio"><label style="margin-left: 0.5rem;" >Algorithms and Data structure</label></div>
           <div class="line"></div>
         <div><input type="radio"><label style="margin-left: 0.5rem;" >Career streategy</label></div>
           <div class="line"></div>
             @for(mentor of mentorinformation;track mentor.id){
         <button class="request-btn"  (click)="viewProfile(mentor.id)">Send mentorship request</button> 
             }
      </div>



