<div class="main-section" >
    <div class="search-section">
      <p>“Unlock Your Potential with Expert Guidance”</p>
      <div class="animated-text">
         1-on-1  <span></span><br> Mentorship
     </div>
      <br>
      <input type="serach " placeholder="search ">
      <button class="search-button">find mentors</button>
 
      <div class="mentor-fields">
         <div class="field">ux designers</div>
         <div class="field">software engineers</div>
         <div class="field">Data science</div>
         <div class="field">Product managers </div>
         <div class="field">ui designers</div>
         <div class="field">startup</div>
       </div>
    </div>

 
    <div class="img-section">
       <img class="main-image"  src="assets/images/1.png" >
    </div>
 </div>

 <section class="card-section">  
   <div class="mentors-cards">
     <div class="inner">
        <div class="mentor-card">
         <img src="assets/images/mahmoud.jpg">
         <div>
         <span>mouheddine belguith</span>
         <h6>software engineer</h6>
        </div>

      </div> 
        <div class="mentor-card">
         <img src="assets/images/mahmoud.jpg">
         <div>
         <span>Vaarnan Drolia</span>
         <h6>Devops engineer</h6>
         </div> 
        </div>
        <div class="mentor-card">
         <img src="assets/images/3.png">
         <div>
         <span>mouheddine belguith</span>
         <h6>cloud engineer</h6>
         </div> 
      </div>
        <div class="mentor-card">
         <img src="assets/images/4.jpeg">
         <div>
         <span>chris nicol</span>
         <h6>startup founder</h6> 
         </div>
      </div>
        <div class="mentor-card">
         <img src="assets/images/mahmoud.jpg">
         <div>
         <span>jared shay</span>
         <h5>startup founder</h5>
         </div> 
      </div>
        <div class="mentor-card">
         <img src="assets/images/mahmoud.jpg">
         <div>
         <span>mouheddine belguith</span>
         <h5>Network engineer</h5>
      </div> 
      </div>
        <div class="fade"></div>
     </div>
  </div>
  </section>



